# Tools / extracted game data
_WORKSPACE/tools/
_WORKSPACE/**/exports/maps/**/_tex/
_WORKSPACE/**/exports/maps/**/*.fbx
_WORKSPACE/**/base_game_files/
_WORKSPACE/**/blender/

*.cpk

# Avoid committing large binary build outputs (choose one approach)
# If you want repo = source only:
# _RELEASE/
# OR if you want repo = includes release mod:
# (don’t ignore _RELEASE, but ignore temp folders)
**/HedgehogConverter-temp-*/
**/*.pdb
**/*.log